{% extends 'base.html.twig' %}

{% block navbar %}
    {% set active = "play" %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="starter-template">
        <h1>Game over</h1>
        <p id="score">
            {% transchoice score with {'%duration%': duration} %}
            [0,1]%score% good answer in %duration%|]1,Inf[%score% good answers in %duration%
            {% endtranschoice%}
        </p>
        {% if form is defined %}
            <p>Congratulations! Your are in the 10 highest scores. Fill this form if you want to appear in the highest scores</p>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        {% endif %}
        <p>
            <a class="btn btn-default btn-lg" href="{{ path("play") }}">Play again</a>
        </p>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>Highest scores</h2>
            {{ render(controller('AppBundle:HighScore:highestScores')) }}
        </div>
    </div>
{% endblock %}
