{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-6">
            <img src="{{ movie.picture }}" class="img-responsive" alt="{{ movie.name }}">
        </div>
        <div class="col-xs-6">
            <img src="{{ actor.picture }}" class="img-responsive" alt="{{ actor.name }}">
        </div>
        <div class="row">
            <div class="col-xs-12 center-block">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>

    </div>

{% endblock %}
